html, body {

    font-family: monospace;
    background-color: #333;
}

.container-head {
    background-color:  #666;
}

.container-body {
    background-color:   silver !important;
}

.row {
   
    background-color:  #eee;
}

/*<TAG>*/
.tag {

    padding: 1px 3px;
    border-radius: 4px;
}
.tag-number {
    margin-right: 5px;
    background-color: greenyellow;
}
.tag-language {
    margin-left: 5px;
    background-color: lightseagreen;
}

.tag-status {

    margin-left: 5px;
    background-color: lightcoral;
}
/*</TAG>*/